version: "3.8"

services:
  postgres:
    image: postgres:13.2-alpine
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: &postgres_password postgres
      POSTGRES_INITDB_ARGS: --encoding=UTF-8 --locale=ja_JP.UTF-8
      TZ: Asia/Tokyo
    volumes:
      - postgres_volume:/var/lib/postgresql/data
    hostname: postgres
  api: &app_base
    image: docker.pkg.github.com/mag67/philosophy_note/philosophy_note_node:16.0.0
    command: yarn start
    environment:
      POSTGRES_ROOT_PASSWORD: *postgres_password
    ports:
      - 4000:4000
    volumes:
      - ./api:/api
      - node_volume:/api/node_modules
    working_dir: /api
    depends_on:
      - postgres
    hostname: api
  frontend:
    image: docker.pkg.github.com/mag67/philosophy_note/philosophy_note_node:16.0.0
    working_dir: /frontend
    command: yarn start
    ports:
      - 3000:3000
    volumes:
      - ./frontend:/frontend
    depends_on:
      - api
    hostname: frontend

volumes:
  postgres_volume:
    driver: local
  node_volume:
    driver: local
